h1{
    color: black;
    text-align:center;
    font-weight: bold;
}

h3 {
  padding-left: 10px;
  font-weight: bold;
}

#intro {
    text-align:center;
}

html > body{
  font-family: 'Raleway Dots', cursive;
  font-weight: bold;
}

.navbar-brand {
  font-family: 'Bungee Shade', cursive;
}

div > h3 {
  font-weight: bold;
}

div > ul > li > h2 {
  font-weight: bold;
}

ul {
     list-style-type: none;
     margin: 10px;
     padding: 0;
}


#vids li {
    display: inline-block;
    padding: 40px;
    padding-left: 5%;
}

#vids1 li {
    display: inline-block;
    padding: 72px;
}

.nav-tabs > li {
    font-size: 22px;
    padding-left: 40px;
    font-family: 'Bungee Outline', cursive;
    color: black;
}

#bio {
    text-align: center;
    font-size: 18px;
    padding-left: 15%;
}

.large {
    font-size: 25px;
}

.navbar .navbar-nav{
  font-size: 25px;
  padding-left: 71px;
}


.navbar .navbar-brand {
    color: #373535;
    font-size: 30px;
    margin: 8px 0;
}

#selfie {
    width: 260px;
    height: 260px;
    border-radius: 40px;
    float: left;
    margin-top: 20px;
}

#project1 {
  margin: auto;
  width: 500px;
  margin-left: 30%;
  height: 282px;
  border-radius: 20px;
}
#project2 {
  margin: auto;
  width: 495px;
  height: 507px;
  margin-left: 30%;
  border-radius: 20px;
}
#mainpic {
  padding-left: 0%;
  width: 1008px;
  height: 591.75px;
  border-radius: 2px;
}

p {
 text-align: left; 
 padding-right: 15px;
 padding-top: 15px;  
}

.info {
  font-size: 18px;
}
#personal {
  width: 80%;
  padding-left: 280px;
  background-color: #d3d3d3;
  border-radius: 10px;
  padding-bottom: 10px;
}

#main2 {
  text-align: center;
  font-size: 18px;
    padding-left: 0%;
}

a.nav-link {
  color: #000000;

}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bio {
      font-size:36px;
      padding-left: 5px;
      clear: left;
    }
    #selfie {
      float: none;
    }
    #personal {
      width: 100%;
      padding-left: 35px;
  }
}


