h1{
    color: blue;
    text-align:center;
}

h3 {
  padding-left: 10px;
}

#intro {
    text-align:center;
}

body{
     font-family: 'Raleway', sans-serif;
}

ul {
     list-style-type: none;
     margin: 10px;
     padding: 0;
}

#vids li {
    display: inline-block;
    padding: 40px;
}

.nav-tabs > li {
    font-size: 22px;
    padding-left: 40px;
}

#bio {
    text-align: center;
}

.large {
    font-size: 25px;
}

.navbar .navbar-nav{
  font-size: 25px;
  padding-left: 71px;
}


.navbar .navbar-brand {
    color: #373535;
    font-size: 30px;
    margin: 8px 0;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 40px;
    float: left;
}

p {
 text-align: left; 
 padding-right: 15px;
 padding-top: 15px;  
}

