html {
  box-sizing: border-box;
}
 * {
  box-sizing: border-box;
 }
h1 {
    color: black;
    text-align:center;
    font-weight: bold;

}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: .25rem !important;
}
.nav-tabs .nav-link.active {
    color: #464a4c;
    background-color: #fff;
    border-color: #ddd #ddd #ddd !important;
}

.descriptor {
  /*color: rgb(156,156,156);
  color: inherit;*/
  top: 6px;
  position: absolute;
  right: 25px;
}

#project-list {
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0 0 0;
}

#project-list > li{
    margin: 10px;
    width: 25%;
    display: inline-block;
    border-color: rgb(247,247,247);
    border-style: dashed;
    padding: 32px;
    border-radius: 25px;
    position: relative;
}

#vids1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#vids1 > h2 {
  width: 100%;
}

h2 {
  font-size: 2rem;
    border-radius: 14px;
    padding: 14px 2px 14px 2px;
}
h3 {
  padding-left: 10px;
  font-weight: bold;
}
.logos {
    width: 100%;
    /* height: auto; */
    /* margin-left: 50%; */
    /* transform: translate(-50%, 0%); */
}

#intro {
    text-align:center;
}



html > body{
font-family: 'Inconsolata', monospace;
font-weight: bold

}

.navbar-brand {
  font-family: 'Bungee Shade', cursive;
}

div > h3 {
  font-weight: 800;
}

div > ul > li > h2 {
  font-weight: 800;
}

ul {
     list-style-type: none;
     margin: 10px;
     padding: 0;
}

#nav2 {
  display: none;
}


#vids li {
    display: inline-block;
    padding: 40px;
    padding-left: 5%;
}

#vids1 li {
    display: inline-block;
    padding: 72px;
}

.nav-tabs > li {
    font-size: 22px;
    padding-left: 40px;
    font-family: 'Bungee Outline', cursive;
    color: black;
}

#bio {
    text-align: center;
    font-size: 18px;
    margin: 0;
}



#music{

}

#button {
    display:none;
}

.large {
    font-size: 25px;
}

nav.navbar {
background: rgb(255,225,151);
background: linear-gradient(90deg, rgba(255,225,151,1) 4%, rgba(246,164,73,1) 55%, rgba(231,88,50,1) 100%);
    position: sticky;
    top: 0px;
    z-index: 2;
    -webkit-box-shadow: 0px 4px 3px -5px black;
     -moz-box-shadow: 0px 4px 3px -5px black;
          box-shadow: 0px 4px 3px -5px black;
}

.nav-link.active {
  background-color: rgb(255,255,255, 0.1) !important;
  color: black !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.navbar .navbar-nav{
  font-size: 25px;
  padding-left: 71px;
}


.navbar .navbar-brand {
    color: #373535;
    font-size: 30px;
    margin: 8px 0;
}

#selfie {
    width: 260px;
    height: 260px;
    border-radius: 40px;
    float: left;
    margin-top: 20px;
}

#project1 {
  margin: auto;
  width: 100%;
  /* margin-left: 30%; */
  height: auto;
  border-radius: 20px;
}
#project2 {
  margin: auto;
  width: 100%;
  height: auto;
  /* margin-left: 30%; */
  border-radius: 20px;
}
#mainpic {
  padding-left: 0%;
  width: 1008px;
  height: auto;
  border-radius: 2px;
}

p {
 text-align: left; 
 padding-right: 15px;
 padding-top: 15px;  
}

.info {
  font-size: 18px;
}
#personal {
  width: 850px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

#main2 {
  text-align: center;
  font-size: 18px;
    padding-left: 0%;
}

a.nav-link {
  color: #000000;

}
#exit {
    display: none;
}

footer {
  
    float: right;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 5%;
    
}


@media only screen and (max-width: 1028px) {
  #project-list > li {
    padding: 32px 16px 32px 16px;
  }
}

@media only screen and (max-width: 768px) {
    nav.nav-bar {
background: rgb(255,225,151);
background: linear-gradient(90deg, rgba(255,225,151,1) 4%, rgba(246,164,73,1) 90%, rgba(231,88,50,1) 100%);
    }
#bioText {
  clear: left;
}
p {
  padding-right: 0px;
}
#vids1 {
  flex-direction: column;
}
#project-list > li{
    
    width: 100%;
    
    margin: 0 0 15px 0;
}

#project-list {
  flex-direction: column;
}
#project-list {
  padding: 15px;
}
    #bio {
     float: none;
    }
    #selfie {
      float: none;
      width: 120px;
      height: auto;
      border-radius: 22px;
    }
    #name {
      float: left;
    }

    #mainpic {
  padding-left: 0%;
  width: 90%;
  height: auto;
  border-radius: 2px;
}
    #tabs {
      display: none;
    }
    #personal {
      width: 80%;
      margin: auto;
          font-size: 16px;
  }

  #project1 {
  width: 90%;
margin-left: 5%;
}
#project2 {
  width: 90%;
  margin-left: 5%;
}
.orig {
      border-top: solid white;
      border-bottom: solid white;
      display: none;
    }
iframe{
  width: 90%;
  padding: 20px;
    padding-left: 0%;
}

#vids1 li {
  display: inline-block;
    padding: 2%;
    margin: auto;
}

#nav2 {
  text-align: center;
  visibility: hidden;
  display: block;
     position: sticky;
    top: 125px;
    z-index: 1;
    background: white;
}

#button {
      clear: right;
      font-size:25px;
      display: block;
      margin-left: 20%;
      margin: auto;
      height: 80px;
      border: none;
      height: 33px;
      background: transparent;
    }
    #exit {
      background: transparent;
      border:none;
      color:black;
      float: right;
      font-size:25px;
      margin-left: auto;
      margin-right: auto;
      height: 6%;
      width:auto;
      display: none;
      text-align: center;

    }

    .navbar-brand {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}
footer {
  float:none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
}

